{% extends "network/layout.html" %}

{% load static %}

{% block title %}Following | Network{% endblock %}

{% block active %}
    <li><a href="{% url 'index' %}" class="nav-link px-2 link-dark">Home</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'following' %}" class="nav-link px-2 link-secondary">Following</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">

        <h2 class="fs-4 mb-3">Following</h2>

        {% if user.is_authenticated %}
            <form method="POST" class="mb-4">
                {% csrf_token %}
                <input type="hidden" name="form" value="create_post">
                <textarea id="postField" name="content" class="form-control fs-5" placeholder="What's happening?" maxlength="260"></textarea>
                <button id="postButton" type="submit" class="btn btn-primary rounded-pill mt-2" disabled><span class="px-1">Post</span></button>                    
            </form>
        {% endif %}

        {% if not page_obj %}
            <div class="text-muted text-center mt-5">
                <span class="fs-5">Nothing to see here...</span>
                <br>
                <span class="fw-semibold">Try following some people!</span>
            </div>
        {% endif %}

        <div class="d-flex flex-column gap-2 pb-4">
            {% for post in page_obj %}
                <div class="rounded border p-3 bg-light d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'profile' post.user.username %}" class="link-dark fw-semibold link-hover">{{ post.user.username }}</a>
                        <span class="text-muted">{{ post.timestamp }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="post-content">{{ post.content | linebreaksbr }}</span>
                        {% if post.user == user %}
                            <form class="post-form w-100 me-3" method="POST" hidden>
                                {% csrf_token %}
                                <input type="hidden" name="form" value="edit_post">
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <textarea class="post-input form-control mt-1 border-0" name="content" maxlength="260">{{ post.content }}</textarea>
                            </form>
                            <span class="post-edit link-secondary fw-semibold link-hover" role="button">Edit</span>
                            <div class="post-editing flex-column align-items-center justify-content-center" hidden>
                                <a class="post-save link-primary fw-semibold link-hover disabled" role="button">Save</a>
                                <a class="post-cancel link-secondary fw-semibold link-hover" role="button">Cancel</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex mt-2">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form" value="like">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            {% if user.is_authenticated %}
                                {% if user in post.likes.all %}
                                    <div role="button" class="post-like d-flex align-items-center gap-2 text-danger">
                                        <i class="bi bi-heart-fill fs-5"></i>
                                        <span>{% if post.likes.all %}{{ post.likes.all | length }}{% endif %}</span>
                                    </div>
                                {% else %}
                                    <div role="button" class="post-like d-flex align-items-center gap-2 text-muted">
                                        <i class="bi bi-heart fs-5"></i>
                                        <span>{% if post.likes.all %}{{ post.likes.all | length }}{% endif %}</span>
                                    </div>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'login' %}" class="d-flex align-items-center gap-2 text-muted text-decoration-none">
                                    <i class="bi bi-heart fs-5"></i>
                                    <span>{% if post.likes.all %}{{ post.likes.all | length }}{% endif %}</span>
                                </a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if pages|length > 1 %}
            <nav class="pb-4" aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-0">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for page in pages %}
                        <li class="page-item{% if page_obj.number == page %} active{% endif %}"{% if page_obj.number == page %} aria-current="page"{% endif %}><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
    <script type="text/javascript" src="{% static 'network/index.js' %}"></script>
{% endblock %}
