{% extends "network/layout.html" %}

{% block body %}
    <div class="container">

        <h3>All Posts</h3>

        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <textarea name="content" class="form-control" placeholder="What's happening?" maxlength="260"></textarea>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        {% endif %}

        <div class="d-flex flex-column gap-2">
            {% for post in posts %}
                <div class="rounded bg-light p-3 d-flex flex-column">
                    <span class="d-flex">
                        <strong>{{ post.user }}</strong>
                        <span class="text-muted ms-auto">{{ post.timestamp }}</span>
                    </span>
                    <span>{{ post.content }}</span>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}