{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="icon" type="image/x-icon" href="{% static 'network/logo.png' %}">
        <script src="https://kit.fontawesome.com/9aea94aa37.js" crossorigin="anonymous"></script>
        <title>{% block title %}Network{% endblock %}</title>
    </head>
    <body>

        {% block navbar %}
            <div class="container">
                <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
                        <i class="fa-solid fa-globe me-2 nav-logo text-primary" aria-label="Network"></i>
                        <h1 class="fs-4 fw-normal me-2 text-dark mb-0">Network</h1>
                    </a>
            
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        {% block active %}
                            <li><a href="{% url 'index' %}" class="nav-link px-2 link-dark">Home</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'following' %}" class="nav-link px-2 link-dark">Following</a></li>
                            {% endif %}
                        {% endblock %}
                    </ul>
            
                    <div class="col-md-3 d-flex justify-content-end align-items-center">
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' user.username %}" class="nav-link px-2 link-primary me-2">{{ user.username }}</a>
                            <a href="{% url 'logout' %}" type="button" class="btn btn-outline-primary rounded-pill">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}" type="button" class="btn btn-outline-primary me-2 rounded-pill">Login</a>
                            <a href="{% url 'register' %}" type="button" class="btn btn-primary rounded-pill">Register</a>
                        {% endif %}
                    </div>
                </header>
            </div>
        {% endblock %}
        
        {% block body %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>
